<article class="post-item">
  <% @trips.each do |trip| %>
    <header class="media post-item-header">
      <div class="media-left">
          <a href="#"><img src= "assets/images/icon.jpg" alt="icon" class="media-object"></a>
      </div>
      <div class="media-body">
        <span class="name">
            @<%= link_to "#{trip.user.name}", "/users/#{trip.user_id}" %><br>
        </span>
        <p class="updated">Last Sunday at 11:03 AM </p>
      </div>
    </header>
    <div class="post-item-body"> 
      <div class="post-item-image">
        <% trip.images.each do |image| %>
          <%= image_tag image, class: "bd-placeholder-img" %><br>
        <% end %>
      </div>
      <div class="post-image-title">
        <h3><%= link_to trip.title, trip_path(trip.id) %></h3>
      </div>
      <div class="post-image-text">
        <%= trip.text%>
      </div>
    </div>
  <% end %>
</article>

