<div class="category-list">
  <ul>
    <li class="lead">海外</li>
    <li class="lead">国内</li>  
  </ul>
  
  <ul>
    <li class="lead">リゾート</li>
    <li class="lead">遺産めぐり</li>
     <li class="lead">女子旅</li> 
  </ul>
  
</div>

