<div class="category-list">
  <ul>
    <li class="lead">海外</li>
    <li>Lorem ipsum dolor sit amet, consectetur...</li>
    <li>Etiam rhoncus malesuada orci sed...</li>    
  </ul>
  <ul>
    <li class="lead">国内</li>
    <li>Lorem ipsum dolor sit amet, consectetur...</li>
    <li>Etiam rhoncus malesuada orci sed...</li>    
  </ul>
  <ul>
    <li class="lead">リゾート</li>
    <li>Lorem ipsum dolor sit amet, consectetur...</li>
    <li>Etiam rhoncus malesuada orci sed...</li>    
  </ul>
  <ul>
    <li class="lead">遺産めぐり</li>
    <li>Lorem ipsum dolor sit amet, consectetur...</li>
    <li>Etiam rhoncus malesuada orci sed...</li>    
  </ul>
  <ul>
    <li class="lead">女子旅</li>
    <li>Lorem ipsum dolor sit amet, consectetur...</li>
    <li>Etiam rhoncus malesuada orci sed...</li>    
  </ul>
</div>

