<div class="category-list">
  <ul>
    <li class="lead">海外</li>
      <ul>
        <li class="lead">ヨーロッパ</li>
        <li class="lead">アジア</li>
        <li class="lead">アメリカ</li>
        <li class="lead">オセアニア</li>
        <li class="lead">アフリカ</li>
      </ul>  
  </ul>

  <ul>
    <li class="lead">国内</li>
      <ul>
        <li class="lead">北海道・東北</li>
        <li class="lead">関東</li>
        <li class="lead">北陸・中部</li>
        <li class="lead">関西</li>
        <li class="lead">中国・四国</li>
        <li class="lead">九州・沖縄</li>
      </ul>  
  </ul>

  <ul>
    <li class="lead">カテゴリー</li>
      <ul>
        <li class="lead">リゾート</li>
        <li class="lead">遺産めぐり</li>
        <li class="lead">女子旅</li> 
      </ul>
  </ul>
</div>

