<div class="container bg-light">
  <div class="row">
    <div class="col-3">
      <%= render "side_bar" %>
    </div>
    <div class="col-6 bg-info">
      <%= render "main" %>
    </div>
    <div class="col-3">
      <%= render "message_bar" %>
    </div>
  </div>
</div>
