.jumbotron-extend {
  position: relative;
  height: 100vh;
  min-height: 300px;
  background: url("main.jpg") no-repeat center center;
  background-size: cover;
}

.jumbotron-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.greeting{
  color: white;
}

.site-name {
  color: white;
  margin-bottom: 40px;
  font-family: 'Playfair Display', serif;
}
.btn-black {
  border-radius: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Avenir', serif;
}
.btn-black:hover {
   background-color: #fff;
   color: #000;
}

.navbar{
  max-width: 1190px;
}

.contents {
  max-width: 990px;
  margin: 0 auto;
}
.content-primary,
.content-secondary {
  padding-left: 0;
  padding-right: 0;
}
.content-primary {
  float: left;
  width: 52.08%;
}
.content-secondary {
  float: right;
  width: 37.92%;
}

.post-item {
  margin-bottom: 65px;
}
.post-item-header {
  margin-bottom: 20px;
}
.post-item-header .media-body {
  font-family: "Avenir", serif;
  vertical-align: middle;
}
.post-item-header .media-body .media-heading,
.post-item-header .media-body {
  font-size: 20px;
}
.post-item-header .media-body {
  margin-bottom: 0;
}
.post-item-header .media-body {
  margin: 0 10px;
  vertical-align: -1px;
}
.post-item h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 36px;
  font-family: "Playfair Display", serif;
}
.post-item p {
  font-size: 21px;
}

.bd-placeholder-img{
  width: 300px;
}

.category-list {
  margin-bottom: 30px;
}
.category-list .lead {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Myriad Pro", serif;
  font-size: 26px;
}

@media (max-width: 767px) {
  .jumbotron-extend {
      height: 300px;
      min-height: 0;
      margin-bottom: 40px;
      text-align: center;
    }
    .jumbotron-container {
      top: 0;
      transform: translateY(0);
    }
    
    .site-name {
      margin-bottom: 40px;
    }
    .btn-black {
      margin-bottom: 20px;
    }
    .contents {
      max-width: none;
    }
    
    .contents p {
        font-size: 14px;
    }
    .contents .img-responsive {
        width: 100%;
        max-width: none;
    }
    .post-item {
      margin-bottom: 30px;
      padding-bottom: 25px;
      border-bottom: 1px solid #ccc;
    }
    .post-item-header .media-object {
        width: 31.5px;
        height: 31.5px;
    }
    .post-item-header .media-body .media-heading,
    .post-item-header .media-body .updated {
        font-size: 13px;
    }
    .post-item h3 {
        font-size: 18px;
    }
    .post-item p {
        font-size: 14px;
    }
    .category-list .lead {
      font-size: 18px;
    }

}

.image-element img{
  max-width: 250px;
}